<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Videos</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <style>
    #top-header {
      margin-top: 0;
    }
  </style>
  <body>
    {% include 'includes/site-header.html' %}

  <div class="main">
    <div class="container">
      <h1 id="top-header">Music</h1>
      
      <p>I am deeply interested in how music forms a communicative language. I have explored this throughout my career as a musician and more recently as a researcher.</p>
      
      <h2>Music AI Research</h2>
      
      <p>I am very excited for a 3-year collaboration with EleutherAI to bear fruit.</p>
      <div class="music-ai-resources">
        <div class="video-embed">
          <iframe src="https://www.youtube.com/embed/8s3V922h3CU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="paper_entry">
          <div class="paper_title">Musically Aware Automatic Piano Transcription Using Synthetic Pretraining</div>
          <div class="paper_rest">
            Louis Bradshaw*, <strong>Alexander Spangher*</strong>, Stella Biderman, Simon Colton.<br>
            <strong>In submission.</strong> [ <a href="papers/aria_amt.pdf">paper</a> ]
          </div>
          <div class="paper_bottom_space"></div>
        </div>
        <div class="paper_entry">
          <div class="paper_title">Aria-MIDI: A Dataset of Piano MIDI Files for Symbolic Music Modeling</div>
          <div class="paper_rest">
            Louis Bradshaw, Simon Colton.<br>
            <strong>ICLR 2025.</strong> (Acknowledged: <strong>Alexander Spangher</strong>) [ <a href="https://openreview.net/pdf?id=X5hrhgndxW" target="_blank" rel="noopener">paper</a> ]
          </div>
          <div class="paper_bottom_space"></div>
        </div>
        <div class="paper_entry">
          <div class="paper_title">Scaling Self-Supervised Representation Learning for Symbolic Piano Performance</div>
          <div class="paper_rest">
            Louis Bradshaw, <strong>Alexander Spangher</strong>, Hong Lu, Stella Biderman, Simon Colton.<br>
            <strong>ISMIR 2025.</strong> [ <a href="https://arxiv.org/pdf/2506.23869" target="_blank" rel="noopener">paper</a> ]
          </div>
          <div class="paper_bottom_space"></div>
        </div>
        <div class="paper_entry">
          <div class="paper_title">The Ghost in the Keys: A Disklavier Demo for Human-AI Musical Co-Creativity</div>
          <div class="paper_rest">
            Louis Bradshaw*, <strong>Alexander Spangher*</strong>, Stella Biderman, Simon Colton.<br>
            <strong>NeurIPS Creative AI Track 2025.</strong> [ <a href="papers/aria_duet.pdf">paper</a> ]
          </div>
          <div class="paper_bottom_space"></div>
        </div>
      </div>

      <h2>Videos of Performances</h2>
      <ul class="list-unstyled">
        <li class="mb-4">
            <h4>Ukrainian Charity Concert #2 (3/26/2022)</h4>
            <p> We organized this concert in Saint Mary's Cathedral in San Francisco, as a followup for the <a href="https://www.sfchronicle.com/bayarea/article/They-ve-been-through-hell-Bay-Area-16999199.php">first charity concert we organized on 3/14/2022</a>.
            (Unfortunately, no videos were recorded for the first concert). Shown here is a performance of Beethoven's 9th Symphony, transcribed for piano by Franz Liszt. 
            I am playing the piano along with Lucas Spangher on cello and <a href="https://www.ensembleschools.com/reeder/staff/svetlana-nikitenko/">Svetlana Nikitenko</a> singing soprano.
            </p>

            <div class="video-embed"><iframe src="https://www.youtube.com/embed/obPHbf0oqm8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </li>
        <li class="mb-4">
            <h4>Personal Recordings 4/10/2022</h4>
            <p>I had always wanted to play a version of Bizet's Carmen on piano, but, surprisingly, no canonical version exists. So, I transcribed my 
            own. Here are recordings of two movements from the opera (the first is the "Habanera" and the second is the "Overture"). I transcribed them for piano solo, 
            heavily inspired by <a href="https://www.youtube.com/watch?v=A5b1tAyE640&ab_channel=Anderson%26RoePianoDuo">the Anderson and Roe two-piano version</a>.
            </p>
            <div class="video-embed"><iframe src="https://www.youtube.com/embed/78C6Nz2J_sc" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </li>
        <li class="mb-4">
            <div class="video-embed"><iframe src="https://www.youtube.com/embed/nxYBc6AwGVY" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </li>
        <li class="mb-4">
          <h4>Piano Recital 5/15/2022</h4>
          <p> I organized a piano recital in my apartment in May 2022, before leaving Los Angeles to start my visiting year (at Stanford Univeristy), during year 4 of my PhD. The program for the first part is:
            <ul>
                <li>5:20: Sonata No. 25 in G major, Op. 79, "The Cuckoo" (1809), Ludwig van Beethoven </li>
                <li>9:56: Sonata No.12 in A-flat Major, Op. 26 (1800), Ludwig van Beethoven</li>
                <li>15:38: Symphony No. 9 (original: 1824, transcription: 1865), Ludwig van Beethoven, transcribed for piano solo by Franz Liszt</li>
                <li>24:04: Piano Etudes (1994) No. 1, 6, Philip Glass</li>
                <li>29:50: Prelude in C-sharp Major, BMV 848 (1722), Johann Sebastian Bach</li>
                <li>31:30: Etude Op. 25, No. 1 in A flat Major, “Aeolian Harp” (1837), Frédéric Chopin</li>
                <li>35:10: Hungarian Rhapsody No. 6 in D-flat Major S. 244 (1847), Franz Liszt</li>
            </ul>            
          </p>
          <div class="video-embed"><iframe src="https://www.youtube.com/embed/gWh7DSpyOEc" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </li>
        <li class="mb-4">
          <p>The program for the second part is:
            <ul>
                <li>5:45: Cantos de España (1892), 5. Seguidillas. Isaac Albéniz</li>
                <li>9:33: Suite Española op. 47 (1886), 1. Granada, 2. Sevilla. Isaac Albéniz</li>
                <li>19:49: Spanish Dance (2020), Alexander Spangher</li>
                <li>30:29: Carmen (1875), Georges Bizet
                    <ul>
                        <li>30:29, 32:55: Carmen Fantasy for 2 pianos (2011). Aragonaise, Habanera., arr. Greg Anderson (arr. for piano by Alexander Spangher)</li>
                        <li>36:16: Sonatina No. 6, BV 284 (1920). Andante, Habanera, Overture, Prelude, arr. Ferruccio Busoni</li>
                        <li>45:22: Suite - Fantasie Carmen (2013). Chanson du Toreador, arr. Karen Kornienko</li>
                        <li>49:26: Carmen Fantasy for violin (1882). Seguedille, arr. Pablo de Sarasate (arr. for piano by Alexander Spangher)</li>
                        <li>51:57: Variations on a Theme from Carmen (1920). Danse Bohème, arr. Vladimir Horowitz</li>
                    </ul>

                </li>
            </ul>
          </p>

          <div class="video-embed"><iframe src="https://www.youtube.com/embed/Rz--vtPiDo8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </li>

        <p>Original program notes: <a href="https://docs.google.com/document/d/1qNripVk_OLMpdmQ-JgrxNq5QuILCHTHfFFPv8rriK6w/edit?usp=sharing">here</a>. and <a href="https://docs.google.com/document/d/17UJA0ubKwUWtGhXOfF4H1mQftq5M0IFUnXRwrRBqO2Y/edit?usp=sharing">here</a>.</p>
      </ul>
    </div>
  </div>
    {% include 'includes/site-footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
